<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Your Website</title>

    <!---link to CSS file-->
    <link rel="stylesheet" href="{{ url_for('static', filename='E:\Delma (2)\website\static\styles.css') }}">
</head>
<body>
    <header>
        <h1>About Us</h1>
    </header>

    <main>
        <section>
            <h2>Our Mission</h2>
            <p>We are dedicated to providing a platform that connects individuals and businesses with trusted factories, wholesalers, and shipping agencies in China. Our Mission is to simplify the sourcing and logistics process, empowering businesses to thrive in the global marketplace.</p>
        </section>

        <section>
            <h2>Owner</h2>
            <p>Meet the passionate owner and developer of the platform:</p>
            <ul><strong>MUKUNDWA DELPHINE</strong> - Founder & Lead developer</ul>
            <li><em>With a Nod to my father Barayavuga Joseph - Thank you for your unwavering support and inspiration .</em></li>
        </section>

        <section>


    </main>
    
    <footer>
        <p>&copy; 2024 delma.ltd. All rights reserved.</p>
    </footer>
</body>
</html>