<!DOCTYPE html>
<html lang="en"
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>services -Delma.ltd</title>
    <link rel="stylesheet" href="{{url_for('static', filename='E:\Delma (2)\website\static\styles.css')}}">
</head>
<body>
    <header>
        <h1>Our services</h1>
    </header>

    <main>
        <section>
            <h2>Factory Connection</h2>
            <p>Connect with trusted factories worldwide for your manufacturing needs.</p>
            <p>Key features</p>
            <ul>
                <li>Verified suppliers with a proven track record of reliability</li>
                <li>Customizable manufacturing solutions to meet your specific requirements</li>
                <li>Transparent pricing and negotiation options</li>
                <li>Streamlined procurement process from sourcing to delivery</li>
            </ul>
            <!---->
        </section>

        <section>
            <h2>Wholesalers</h2>
            <p>Discover reliable Wholesalers offering quality products at competitive prices.</p>
            <p>Key benefits:</p>
            <ul>
                <li>Access to a wide selection of products across multiple categories</li>
                <li>Competitive pricing and volume discount</li>
                <li>Flexible ordering option to accommodate varying demand</li>
                <li>Efficient logistics and supply chain management</li>
            </ul>
            <!---->
        </section>

        <section>
            <h2>Shipping Agencies</h2>
            <p>Find shipping Agencies to handle logistics and transportation effiently</p>
            <p>Key features:</p>
            <ul>
                <li>End-to-end logistics support, including freight forwarding and customs clearance</li>
                <li>Real-time tracking and monitoring of shipments for greater visibility</li>
                <li>Customized shipping options tailored to your specific requirements</li>
                <li>Professional guidance and assistance from experienced logistics experts</li>
            </ul>

        </section>
    </main>

    <footer>
        <p>&copy; 2024 -Delma.ltd, All rights reserved.</p>
    </footer>
</body>